@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
html,body{
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.windows *::-webkit-scrollbar,.windows *::-webkit-scrollbar-thumb {
  width: 5px;
  background: transparent;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ;
  -moz-transition: all .5s ;
  -ms-transition: all .5s ;
  -o-transition: all .5s ;
}
.windows *:hover::-webkit-scrollbar,.windows *:hover::-webkit-scrollbar-thumb,.windows  *:hover::-webkit-scrollbar-track{
  background: rgb(82, 82, 82);
}
.windows  *::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.windows  *::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.windows  *::-webkit-scrollbar-thumb:hover {
  background: rgb(82, 82, 82);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
